// put your styles here
body{
    background:lightgray;
}

.heading {
    box-align: left;
    display: block;
    min-height: 80px;
    vertical-align: middle;
    background-color: rgba(35, 182, 35, 0.664);
    display: flexbox;
    position: absolute;
   
}
a {
    color:red;
    font-weight: 900;
    padding: 0 5%; 
    vertical-align: middle;
    font-family: Helvetica, sans-serif; 

}
h1 {
    align: center;
    color: burlywood;
}
